@* BookListViewModel

*@
@{
}
<h1>Boekenlijst</h1>
<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Genre</td>
            <td>CreatedOn</td>
            <td>ISBN</td>
        </tr>
    </thead>
    @foreach (KeyValuePair<int, BookDetailViewModel> book in Model.Books)
            {
        <tr>
            <td><a href="books/@book.Key">@book.Value.Title</a></td>
            <td>@book.Value.Author</td>
            <td>@book.Value.Genre</td>
            <td>@book.Value.CreatedOn.ToShortDateString()</td>
            <td>@book.Value.ISBN</td>
        </tr>
    }
</table>